header {font-family: Arial; color:purple; padding:3 0 0 30}

body {font-family: Arial; margin: 0px}

nav {background-color:purple; height: 60px; padding:0px; width:100%}

nav a {float:left; height:40px; width:20%; 
    text-align:center; padding-top:20px;}


a:link { text-decoration: none; color:white }
a:visited { text-decoration: none; color:white  }
a:hover { text-decoration: none; background-color:rgb(87, 112, 223)}
a:active { text-decoration: none; color:lightgrey  }

img {width: 50%; height: auto}

table {  border: 1px solid; margin: 50px}

td {width: 12.5%; font-weight:bold; border: 1px solid #ddd;}

tr:nth-child(even) {background-color: #dddddd;}

.sub{color:grey; font-size: 14px; font-weight:normal;}

th{font-size: 18px;}
.days { background-color: purple; color:white}

#events tr:hover {background-color: rgb(167, 166, 166);}
#events td:hover {background-color: rgb(224, 224, 224)}
