
header {
    font-family: Verdana;
    color:purple;
    padding:3 0 0 30;
    overflow: auto;
}
.headimg {
    float: left;
    display: inline;
}

#hometext {
    color:white;
    float: right;
    margin: 50 50 0 0;
    text-align: right;
    width: 700;
}
#hometext h1 {
    font-size: 50;
}
#hometext h2 {
    float: right;
    font-size:35;
    margin: 0; 
    width: 213;
}
#hometext h2:hover {
    color: rgb(112, 33, 134);
}
#hometext p {
    float: right;
    margin: 0;
    width: 700;
}

footer {
    color: white;
    margin-top: 500px;
    padding: 10 0  50 10;
    background-color: rgb(29, 29, 29);
}

body {
    font-family: verdana;
    margin: 0px;
    background: linear-gradient(50deg, rgb(51, 51, 51) 0%, rgba(29, 29, 29) 100%);
}

nav {background-color:transparent;
    height: 80px;
    padding:0px;
    width:80%;
    margin: 0px;
    float: right;
    font-weight: 550;
}

nav a {float:left;
    height:65px;
    width:12.4%;
    text-align:center;
    padding-top:55px;
}

.thispage{
    border-bottom: solid 5px rgb(112, 33, 134);
    height: 60;
    border-radius: 1;
    }
 
a:link {
    text-decoration: none;
    color:white
}
a:visited {
    text-decoration: none;
    color:white
}
a:hover {
    text-decoration: none;
    color: rgb(112, 33, 134);
}
a:active {
    text-decoration: none;
    color:lightgrey
}

.gallery {
    width: 50%;
    height: auto;
}

table {
    border: 2px solid white;
    margin: 50 10% 0 10%;
    width: 80%;
}

td {width: 12.5%;
    font-weight: bold;
    border: 2px solid lightgray;
    padding: 4px;
}

tr {
    margin: 3px;
}
.days {
    background-color: black;
    color:white;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(2n+3) {
    background-color: #ffffff;
}

.sub{
    color:grey;
    font-size: 14px;
    font-weight:normal;
}

th{
    font-size: 18px;
}


#events td:hover {
    border-style: solid;
    border-width: 2px;
    border-color: purple;
}
#events th:hover {
    background-color: purple;
     color:white;
}

ul{
    margin: 0px;
    padding: 0px;
}

.bar{
    background-color: rgba(0, 0, 0, 0.158); height: 120;
}

.logo{
    height: 80;
    margin: 20 0 0 50;
}
/* -----------------product----------------- */
.productdiv{
    width: min-content;
    height: 800px;
    display: flex;
}

.hoodieimg{
    width: min-content;
    padding: 60;
}

.pimg{
    height: 700px;
    border: solid #dddddd 20px;
    border-radius: 30px;
    background-color: #dddddd;
}

.ptext{
    width: 1300;
    padding-top: 200;
    text-align: center
}
.ptext h1{ 
    font-size: 50;
    font-weight: 900;
    color: white;
    display: block;
    line-height: 0;
}
.ptext p{ 
    display: block;
    font-size: 25;
    font-weight: 900;
    color: rgb(112, 33, 134);
}

.rad{
    display: none;
}
  

.ptext img{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: transparent;
}
                                                                                                    
.ptext img:hover{
    border-style: solid;
    border-width: 3px;
    border-color: purple;
    border-radius: 50%;
}

.lllll {
    font-size: 10;
    float: left;
    border: solid white 2px;
    border-radius: 5px;
    width: 100;
    margin: 15;
}
.lllll p{
    font-size: 15;
    color: white;
}
.sizes{
    height: 100;
    padding: 0;
    width: max-content;
    margin: 0 0 0 310;
}

#selectedSize{
    border: solid rgb(112, 33, 134) 2px;
}
